*
{
    background-color: #a0aecd !important;


}

html
{
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
    max-width: 1024px;
    max-height: 768px;

}

footer
{
    font-family: "Unica One" !important;
}


.navbar a 
{
    text-decoration: none;
    font-size: 25px;
    font-family: "Unica One";
    font-weight: 600;
    color: black;
    padding-left: 3em;
    padding-right: 3em;
    background-color: transparent !important;
    
}

.navbar 
{
    
    padding: 13px;
    margin-bottom: 10%;

}

.navbar * 
{

    justify-content: space-between;
}




.about-me 
{
    color: rgb(0, 0, 0);
    padding: 5rem;
    outline: rgb(0, 0, 0) solid 1px;
    outline-offset: -1rem;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;



}

.about-me h6
{
    position: absolute;
    top: 5px;
    font-family: "DM Sans";
    font-weight: lighter;
    font-weight: 540;
    
}

.about-me img
{
    max-width: 100%;
    max-height: auto;
    
}

.image
{
    flex-basis: 100%;
}

.text
{
    font-size: 15px;
    padding-right: 20px;
    font-family: "DM Sans";
}

.info
{
    margin-top: 10%;
    margin-bottom: 30px;
    background-color: #7d8bab !important;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    
}

.info p
{
    background-color: #7d8bab !important;
    font-family: "DM Sans";
    font-size: 10px;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content 
{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;

}

.show 
{
    display:block;
}

/* Project Page Styles*/

.main
{
    text-align: center;
    color: #fff0e6;
    font-family: "DM Sans";


}

.floater
{

   
    border: #1a0910 solid 0.1px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    position: relative;
    font-family: "DM Sans" !important;

}


.left
{
    float: left;
    position: absolute;
    margin-left: -10px;
    top: 3em;
    left: 2em;
    color: #000000;
    font-family: "DM Sans";
   


}

.left h6
{
    font-size: 10px;
    color: rgb(0, 0, 0);
    padding-bottom: 1em;
    box-shadow: 0 1px 0 rgb(0, 0, 0);
    font-family: "DM Sans";
}

#info
{
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: "DM Sans";
}

.top
{
    font-size: 8px;
    font-family: "DM Sans" !important;
    margin-bottom: -5px;
}

.floater p
{
    position: absolute;
    bottom: -1em;
    left: 2em;
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-family: "DM Sans" !important;
}

.floater h1
{
    font-weight: 280;
}

.fs-6
{
    font-family: "DM Sans" !important;
}

ul li 
{
    font-family: "DM Sans" !important;
}

.me-3
{
    font-family: "DM Sans" !important;
}

.upcoming *
{
    color: #333333 !important;
}

/* Blog Page Styles */

.title-container
{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 6em;
}

.blog-container
{
    width: 25%;
    margin-right: -10em;
    
    
}

.blog-container h1
{
    font-size: 40px;
    color: rgb(5, 5, 50);
    
}

.info-container
{
    width: 5%;
    
    
}

.info-container h1
{
    font-size: 10px;
    padding-left: 5px;
    box-shadow: -1px 0 0 0 rgb(0, 0, 0);
    margin-top: 10px;
    
}

.post-container
{
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
    padding: 5px;
    background-color: #7d8bab !important;
    

}

.post-container * 
{
    background-color: #7d8bab !important;
    
}

.post-container img
{
   max-width: 100%;
   max-height:100%;
   padding-right: 10px;
   
    
}

.linux-image
{
    width: 15em;
    float: left;
}

.post-text-container h1
{
    font-size: 20px;
    font-family: "DM Sans";
    color: rgb(5, 5, 50);
    font-weight: bold;
    background-color: #7d8bab !important;
    

}

.post-text-container p
{
    font-size: 10px;
    font-family: "DM Sans";
    color: rgb(255, 255, 255);
}

.post-text-container h6
{
    font-size: 10px;
    font-family: "DM Sans";
    color: rgb(43, 43, 44);
}

.holds-everything
{
    background-color: #7d8bab !important;
    padding: 5px;
    
}

.contact-page-container
{
    display: flex;
    justify-content: center;
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 5rem;
    outline: rgb(0, 0, 0) solid 1px;
    outline-offset: -1rem;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    display: flex;
    

}

.contact-page-container h1
{
    position: absolute;
    top: -5px;
    font-family: "DM Sans";
    font-weight: lighter;
    font-weight: 540;
}


.contact-text
{
    font-family: "DM Sans";
    font-weight: 100;
    color: #343e55;
    text-align: left;
}
